{{define "content"}}
<main>
{{range $key, $value := .ActivityHistory}}
    <div id="main">
	    <h2> {{$key}} </h2>
	    <table class="styled-table">
		<thead>
		  <tr>
		    <th>Mon</th>
		    <th>Tue</th>
		    <th>Wed</th>
		    <th>Thur</th>
		    <th>Fri</th>
		    <th>Sat</th>
		    <th>Sun</th>
		  </tr>
		</thead>
	<tbody>
	<tr>
	{{range $value}}
	<td> {{.}}</td>
	 {{end}}
	 </tr>
	</tbody>
	    </table>
    </div>
{{end}}
</main>
{{end}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/activity.css">
{{end}}

